body {
	font-family: sans-serif;
	margin: 20px;
	background-color: #f9f9f9;
	min-height: 95vh;
	display: flex;
	flex-direction: column;
}

table {
	border-collapse: collapse;
	margin: 20px 0;
	min-width: 400px;
}
th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}
th {
	background-color: #f2f2f2;
	font-weight: bold;
}

.container {
	flex: 1;
	border-radius: 1rem;
	border: 0.1rem solid purple;
	padding: 1rem;
	margin: 0.5rem;
}

.online {
	color: green;
	font-weight: bold;
}
.offline {
	color: gray;
}

footer {
	margin-top: auto;
	padding: 20px 0;
	border-top: 2px solid #ddd;
}

.footer-content {
	display: flex;
	gap: 30px;
	justify-content: center;
}
