---
name: pylint

"on":
  push:
    branches:
      - main # Set a branch to deploy
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Running tests
        run: |
          python -m pip install --quiet --no-cache-dir --upgrade uv
          uv run ruff check $(basename $(pwd) | sed -E 's/-/_/g')
          uv run ruff check tests/
